.navbar-wrapper {
  background: var(--color-primary);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 18px 0;
  color: var(--color-secondary);
}

.navbar a:hover {
  color: var(--color-primary-hover);
}

.navbar__left {
  display: flex;
  align-items: center;
  gap: 32px;
}

.navbar__brand a {
  font-size: 20px;
  font-weight: 700;
}

.navbar__nav,
.navbar__auth {
  display: flex;
  align-items: center;
  gap: 16px;
}
